@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>

@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<h2>KargoTakip</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Aciklama</td>
            <td>@item.TarihZaman</td>
        </tr>
    }
</table>

